streamlit
langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-openai
langchain_huggingface
chromadb
faiss-cpu
duckdb
pandas
openai
validators==0.28.1
youtube_transcript_api
unstructured
pytube
bs4
pypdf
sentence_transformers
huggingface_hub
